$font-family: Arial, Helvetica, sans-serif;

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

body {
    width: 100%;
    justify-content: center;
    font-family: $font-family;
    color: rgb(27, 27, 27);
    margin: 0 auto;
}

@media screen and (min-width: 1150px) {
    #container {
        @include position(relative, $top: 20px, $left: 2%);
        width: 1100px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: auto;
    }
}

@media screen and (max-width: 1149px) {
    #container {
        display: flex;
        justify-content: center;
        margin: 18px 18px 80px 18px;
    }
}

#desc {
    width: 600px;
    min-height: calc(100vh - 70px);
    

    .title {
        font-weight: bold;
        font-size: 36px;
    }
    
    .address {
        font-size: 14px;
        margin: 8px 0px 18px 0px;
    }
    
    .headers {
        display: flex;
        width: 400px;
        margin-bottom: 18px;
        justify-content: space-between;
    }
    
    .highlights {
        padding: 18px;
        margin-bottom: 18px;
        border: 1px solid rgb(206, 206, 206);
        
        .section-header {
            margin: 0px 0px 10px 0px;
            font-weight: bold;
        }
    }
    
    .section-header {
        margin: 10px 0px 10px 0px;
        font-weight: bold;
    }
    
    .extras.open{
        display: block;
    }
    
    .extras.close{
        display: none;
    }
    
    .more-info {
        border: none;
        margin: 18px 0px 18px 0px;
        font-size: 18px;
        padding: 0;
        color:  rgb(31, 197, 189);
        &:hover {
            text-decoration: underline;
        }
        &:focus {
            outline: 0;
        }
    }
}
