$font-family: Arial, Helvetica, sans-serif;

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

body {
    width: 100%;
    justify-content: center;
    font-family: $font-family;
    color: rgb(27, 27, 27);
    margin: 0 auto;
}

#container {
    @include position(relative, $top: 20px, $left: 2%);
    width: 1100px;
    margin: 0 auto;
}

#desc {
    //max-width: 600px;
    width: 600px;
}


.section-header {
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}